:root {
    --main-color: #FF6347;
    --main-color-dark: #43121d;
    --white-color: #fff;
    --black-color: #000;
    --gradient: linear-gradient(to right, rgba(168, 45, 73, 0.7), rgba(228, 77, 38, 0.7));

}

